{include file="common/header"}
    <link rel="stylesheet"  type="text/css" href="/static//AmazeUI-2.4.2/assets/css/amazeui.css"/>
    <link href="/static//AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/static//basic/css/demo.css" rel="stylesheet" type="text/css" />

    <link href="/static//css/sustyle.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static//basic/js/jquery-1.7.min.js"></script>


<div class="clear"></div>



<div class="take-delivery">
    <div class="status">
        <h2>您已成功付款</h2>
        <div class="successInfo">
            <div class="option">
                <span class="info">您可以</span>
                <a href="/index/person/order" class="J_MakePoint">查看<span>已买到的宝贝</span></a>
                <a href="/index/login/login" class="J_MakePoint">返回<span>商城首页</span></a>
            </div>
        </div>
    </div>
</div>


<div class="footer" >
    <div class="footer-hd">
        <p>
            <a href="#">恒望科技</a>
            <b>|</b>
            <a href="#">商城首页</a>
            <b>|</b>
            <a href="#">支付宝</a>
            <b>|</b>
            <a href="#">物流</a>
        </p>
    </div>
    <div class="footer-bd">
        <p>
            <a href="#">关于恒望</a>
            <a href="#">合作伙伴</a>
            <a href="#">联系我们</a>
            <a href="#">网站地图</a>
            <em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
        </p>
    </div>
</div>


</body>
</html>
